html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 0px black;
}

/* Coolors Exported Palette - coolors.co/182825-90c9ce-aeb2a9-f4e097-f9fff9 */
/* HSL */
/* RGB */
body {
  max-width: 700px;
  margin: auto;
  background-color: #aeb2a9;
}

.wrap-collapsible {
  margin-top: 20px;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  cursor: pointer;
  font-weight: bolder;
  font-family: monospace;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  background-color: #182825;
  color: #f9fff9;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #adffad;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background-color: rgba(144, 201, 206, 0.3);
  color: #f9fff9;
  border: 1px solid #182825;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
